/*置顶菜单栏*/
.menu1{
    width:100%;
    height:60px;
    background-color:#040c1f;
    position:fixed;
    top:0;left:0;right:0;
    }
.menu101{
    width:20%;
    height:100%;
    float:left;
    }
.menu102{
    width:60%;
    height:100%;
    float:left;
    }
.menu1021{
    width:14.2%;
    height:100%;
    float:left;
    margin:0 auto;
    }
.menu1022{
    color:#05f2f2;
    text-align:center;
    line-height:60px;
    }
/*菜单选择样式*/
.menu1022 a {
    color:#05f2f2;
    background-color:none;
    padding:23px 15px;
    text-align:center;
    line-height:15px;
    text-decoration: none;
    display: inline-block;
    }
.menu1022 a:hover {
    background-color:#106a92;
    font-size:20px;
    color:white;
    }

/*内容版式*/
/*置顶菜单栏*/
.menu2{
    width:100%;
    height:800px;
    background-color:white;
    position:fixed;
    top:60px;
    left:0;
    right:0;
    }

.menu201{
    width:17%;
    height:100%;
    background-color:#4192e7;
    opacity:;
    float:left;
    position:relative;
    }

.menu202{
    width:66%;
    height:;
    background-color:#05f2f2;
    float:left;
    position:relative;
    }

.list{
    margin:10px auto;
    padding:5px 10px;
    }

.list li{
    color:black;
    display:inline;
    list-style-type:none;
}

.list a{
    background-color:red;
    color:black;
    padding:5px 5px;
    margin:0px 2.5px;
    text-decoration:none;
    }

.list a:hover{
    color:white;
    }



